/*---------------------

Table of contents

1. Loader
2. Helper classes 
3. Buttons
4. Navbar
5. Home
6. account popup
7. user card 
8. login
9. signup
10. user profile
11. Category
12. Review
13. Contact
14. Footer
15. Animation - Magnific popoup
16. Responsive

---------------------*/


body {
  font-family: 'Open Sans', sans-serif;
  color: #585858;
  font-size: 14px;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}


h1 {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

/* .row>* {
  padding-right: 15px;
  padding-left: 15px;
} */

textarea.form-control {
  height: auto;
}


/* === 1.Loader === */
/* #preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 9999999;
}

#status {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}

.spinner {
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid rgba(56, 83, 233, 0.2);
  border-right: 5px solid rgba(56, 83, 233, 0.2);
  border-bottom: 5px solid rgba(56, 83, 233, 0.2);
  border-left: 5px solid #f56363;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* or adjust the height as per your layout */
}




/* ==== 2. Helper classes ==== */

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title-box {
  padding-bottom: 30px;
}

.title-box i {
  font-size: 36px;
  color: #aaa;
}

.title-box p {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 10px;
}

.title-box h2 {
  font-weight: 700;
  margin-top: 10px;
}

.title-box h4 {
  width: 60%;
  line-height: 24px;
  margin: 10px auto;
  font-size: 16px;
}

.bg-lightgray {
  background-color: #fafafa;
}

.bg-dark {
  background-color: #222328;
}

.text-custom {
  color: #f56363;
}

.text-warning {
  color: #ffbd4a;
}

.margin-t-20 {
  margin-top: 20px;
}

.margin-t-30 {
  margin-top: 30px;
}

.margin-t-50 {
  margin-top: 50px;
}

.font-2 {
  font-style: italic;
  font-weight: 400;
  font-family: 'Crete Round', serif;
}

.vertical-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
}


/* Social */
.social li a {
  display: block;
  height: 36px;
  width: 36px;
  color: #222328 !important;
  line-height: 36px;
  text-align: center;
  text-decoration: none !important;
  border-radius: 50%;
  border: 2px solid #585858;
  ;
}

.social li a:hover {
  color: #ffffff !important;
  border-color: transparent;
}

/* ==== 3. Buttons ==== */

.btn {
  color: #ffffff !important;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.03em;
  padding: 10px 30px;
  border-radius: 20px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.btn:hover {
  box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.3);
}

.btn:hover,
.btn:active,
.btn:focus {
  border-color: transparent !important;
}

.btn-sm {
  padding: 7px 24px;
  font-size: 12px;
}

.btn-custom {
  background-color: #f56363;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
  background-color: #222328 !important;
  color: #fff !important;
}

.btn-link {
  color: #f56363 !important;
  box-shadow: none !important;
  padding: 0;
}

.bg-facebook:hover {
  background-color: #3b5998 !important;
}

.bg-twitter:hover {
  background-color: #00aced !important;
}

.bg-linkedin:hover {
  background-color: #007bb6 !important;
}

.bg-dribbble:hover {
  background-color: #ea4c89 !important;
}

.bg-googleplus:hover {
  background-color: #dd4b39 !important;
}




/*===== 4. Navbar Custom ======*/

.navbar-custom {
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #F2E9E9;
  height: 70px;
}

.sticky-wrapper {
  position: absolute;
  width: 100%;
}


.logo-container {
  display: flex;
  align-items: center;
}

.navbar-custom .navbar-nav li a {
  color: #585858;
  font-size: 13px;
  background-color: transparent !important;
  padding: 7px 10px;
  margin: 0 5px;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border-radius: 3px;
}

.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: #333;
}

.navbar-custom .navbar-nav .nav-item .nav-link.active {
  color: #ffffff !important;
  background-color: #f56363 !important;
}

.is-sticky .navbar-custom {
  margin-top: 0px;
  padding: 10px 0px;
  background-color: #ffffff;
  -moz-box-shadow: 0 10px 33px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, .1);
  box-shadow: 0 10px 33px rgba(0, 0, 0, .1);
}

.navbar-toggle {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.navbar-custom .btn-custom {
  margin-top: 8px;
  margin-left: 20px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background-color: transparent;
  border-color: #337ab7;
}

.search-container{
  width: 717px !important;
}

/* search bar and icon */
.search-input {
  min-width: 95%;
  border-radius: 3px;
  border: none !important;
}

.search-container .input-group-text {
  display: block;
  /* Show the search icon by default */
}

.input-group {
  position: absolute;
}

.input-group-text {
  position: absolute;
  left: 63.5%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background: none;
}

.nav-item-div {
  text-align: center;
  padding: 15px 8px 10px;
}

/* === 6. account popup ====*/
.account-popup {
  display: none;
  position: absolute;
  top: 100%;
  left: calc(100% + 1025px);
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin-top: 70px;
  padding: 10px;
  z-index: 9999;
}

.account-popup.active {
  display: block;
}

/* ==== 7. user card  =====*/

.card-popup {
  position: absolute;
  top: 100%;
  left: calc(100% + 1072px);
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin-top: 70px;
  padding: 10px;
  z-index: 9999;
  display: none;
}

.card-popup.active {
  display: block;
}

.user-card-header {
  text-align: center;
  color: #832729;
  font-family: "Gill sans";
  margin-top: 2px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 2px solid #832729;
  padding-bottom: 5px;
  /* Add padding-bottom to ensure space between text and border */
}

/* ==== 8. login =====*/
/* Modal content */
.modal-content {
  margin-top: 5px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-card {
  background-image: url('../images/sidelogin.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  border-radius: 0;
}

.login-custom-card {
  border-radius: 0;
}

.login-modal-body {
  padding: 0;
  width: 500px;
}

.login-container {
  display: flex;
  justify-content: space-between;
}

.login-image-card {
  flex: 0 0 40%;
}

.login-content-card {
  flex: 0 0 60%;

}

.header {
  color: #832729;
  font-family: 'Gill Sans';
  margin-bottom: 0;
}

/* Welcome back text */
.semi-text {
  padding: 0;
  text-align: center;
  color: #832729;
  font-size: large
}

/* Phone input and Request OTP button alignment */

.input-phone,
.otp-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-phone .form-control,
.otp-input input[type="text"] {
  width: 250px;
  margin-right: 10px;
}

.input-phone {
  display: flex;
  align-items: center;
  margin-left: 12px;

}

.input-phone .form-control {
  width: 250px;
}

/* OTP input width adjustment */
.otp-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* OTP input */
.otp-input input[type="text"] {
  width: 250px;
}

/* Button styling for Request OTP and Verify OTP */
.button-container {
  display: flex;
  align-items: center;

}

/* Common styles for buttons */
.button-container button {
  width: 120px;
  background-color: #832729;
  color: white;
  padding: 12px 16px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0;
  margin-left: 30px;
}

/* Button hover effect */
.button-container button:hover {
  background-color: #6c1f21;
}


/*===== 9. Register or signup ======*/

.signcardbody {
  height: fit-content !important;
}

.modal {
  --bs-modal-width: 800px;
}

.image-card {
  background-image: url('../images/sidelogin.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  border-radius: 0;
}

.content-card {
  border-radius: 0;
}

.custom-modal-body {
  padding: 0;
  width: 800px;
}

.custom-container {
  display: flex;
  justify-content: center;
}

.custom-image-card {
  flex: 0 0 40%;
}

.custom-content-card {
  flex: 0 0 60%;
}

.header {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.custom-input {
  width: 250px;
  margin-bottom: 0px;
}

.signupdiv {
  left: 43px;
  display: grid;
  justify-content: center;
  position: relative;
}

/* .input-group .form-group {
  margin-right: 10px;
  margin-bottom: 10px;
} */

.input-group .otp-button-container {
  margin-top: 10px;
}

.phone-input-container {
  display: flex;
  align-items: center;
}

.otp-verification-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.phone-input-group .otp-button,
.otp-verification-container .otp-verify-button {
  margin-right: 10px;
  margin-left: 15px;
}

.otp-button {
  width: auto;
  background-color: #832729;
  border: none;
  padding: 8px 10px;
  font-size: 11px;
  border-radius: 5px;
}

.otp-verify {
  margin-bottom: 5px !important;
}

.otp-verify-button {
  width: max-content;
  height: min-content;
  background-color: #832729;
  border: none;
  padding: 8px 10px;
  font-size: 11px;
  border-radius: 5px;
}

.otp-button:hover {
  background-color: #6a2021;
}

.otp-verify-button:hover {
  background-color: #6a2021;
}

.input-group .register-button-container {
  margin-top: 5px;
}

.register-button-container {
  position: relative;
  left: 85px;
}

.register-button {
  /* position: fixed; */
  background-color: #832729;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.register-button:hover {
  background-color: #6a2021;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.resend-otp-container {
  margin: 5px 0px;
  align-items: center;
  text-align: center;
}

.resend-otp-btn {
  text-decoration: underline;
  font-size: 13px !important;
  padding-top: 8px !important;
  padding: 10px 5px;
  font-family: 'Nunito Sans';
  background-color: white;
  color: #832729 !important;
  border: none;
  text-transform: capitalize;
}

.resend-otp-btn:hover {
  background-color: white !important;
  box-shadow: none;
}


/*===== 10.user profile ======*/
.user-account {
  padding: 100px 150px 0;
  margin-top: 20px;
}

.user-account-content {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.user-header {
  color: #832729;
  border-bottom: 1px solid #ccc;
  font-family: 'Domine';
}

.personal-info-wrapper {
  flex: 1;
  padding: 10px 25px;
}

.sidebar-container {
  width: 20%;
  /* Set a fixed width for the sidebar */
  min-width: 210px;
  /* Set a minimum width for the sidebar */
  box-sizing: border-box;
}

.sidebar-container .nav-item {
  flex: 0 0 auto;
}

.sidebar-container .nav-link {
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  color: black;
  font-weight: bold;
  padding: 20px 0px;
  margin: 0%;
}


.account-overview {
  margin: 0;
}


.personal-info-card {
  border: 1px solid #832729;
  padding: 1.1px;
}

.personal-info-header {
  padding: 0;
  margin: 20px;
  background-color: #F2E9E9;
}

.personal-info-title {
  margin-top: 0;
  background-color: #F2E9E9;
  color: #832729;
  border-bottom: 1px solid #832729;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.personal-info-list {
  list-style-type: none;
  padding: 0 16px;
}

.personal-info-list li {
  margin-bottom: 10px;
}

.personal-info-list li span:first-child {
  display: inline-block;
  width: 150px;
}

.edit-button {
  background-color: #fff;
  color: #832729 !important;
  border-color: #832729;
  padding: 6px 10px;
  border-radius: 4px;
}

.edit-button:hover {
  background-color: transparent !important;
  color: #832729 !important;
}

/*===== 11.Category ======*/

/* view category */
.view-category-header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #832729;
  font-family: 'Gill Sans';
  font-weight: bold;
}

.view-category-col {
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  width: calc(5% - 20px);
  /* Set the desired width for the column */
  margin-right: 10px;
}

.view-category-card {
  height: 250px;
  max-width: 200px;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.view-category-card:hover {
  box-shadow: 0 2px 4px rgb(181, 89, 91);
  /* Add a bottom shadow on hover */
}

.view-category-img {
  width: 100%;
  min-height: 190px;
  max-height: 190px;
  object-fit: cover;
}

.view-category-text {
  text-align: center;
  color: #832729;
  font-family: 'Gill Sans';
  font-weight: bold;
  align-items: center;
}

.category-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.view-category-border {
  margin-top: 50px;
  margin-bottom: 50px;
  border-color: #832729;
  margin-right: 75px;
  margin-left: 75px;
  border-width: 2px;
}


/*==== Product card ====*/
.product-card {
  min-width: 220px;
  max-width: 220px;
  height: 100%;
  cursor: default;
}

.product-card-img {
  width: 100%;
  object-fit: cover;
  min-height: 220px;
  height: 220px;
  cursor: pointer;
}

.product-cardbody-div {
  color: #832729;
  font-weight: bold;
  font-family: 'Nunito Sans';
  margin: 0px;
}

.product-names {
  margin: 0px;
  margin-bottom: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wishlist-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  /* Adjust width and height as needed */
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Customize the tooltip content */
.ant-tooltip-inner {
  background-color: white !important; /* Set the desired background color */
  color: #832729 !important; /* Set the desired text color */
  font-size: 12px !important; /* Set the desired font size */
  border-radius: 0px !important; /* Set the desired border radius */
  padding: 0px 4px !important; /* Adjust the padding as needed */
  font-family: 'Nunito Sans' I !important;
  font-weight: 600 !important;
  text-align: center;
}

/*==== quantity picker =====*/
.quantity-picker {
  margin-top: 2px;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 6px;
  vertical-align: middle;
}

.quantity-input:focus {
  background: red;
}

.quantity-modifier,
.quantity-display {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

.quantity-modifier {
  height: 2rem;
  width: 2rem;
  font-size: 18px;
  font-weight: 600;
  background: fixed;
  border: none;
  text-align: center;
  cursor: pointer;
}

.quantity-modifier:focus {
  outline: 0;
}

.left-modifier {
  color: #0dba26;
}

.mod-disable {
  color: #e0e0e0;
}

.right-modifier {
  color: red;
}

.quantity-display {
  width: 3rem;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 16px;
  border: 0;
  border-top: 0 solid #dbdbdb;
  border-bottom: 0 solid #dbdbdb;
  text-align: center;
}


/*==== product details ===*/

.product-details-cart-btn {
  margin-bottom: 10px;
  min-width: 26rem;
  border-radius: 5px;
  border-color: #832729;
  background-color: #fff;
  color: #832729 !important;
  font-weight: 700;
}

.product-details-cart-btn:hover {
  background-color: #832729;
  color: #fff !important;
}

.product-details-cart-btn:focus {
  border-color: #832729 !important;
}

.size {
  min-width: 160px !important;
}

.country {
  min-width: 190px;
  min-height: 38px;
}

.large-image-container {
  position: absolute;
  z-index: 990;
  /* Ensure it's above other elements */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* product info */
.info-collape {
  box-shadow: none;
  border: 0px;
  border-radius: 0px;
  background-color: #ffffff;
  padding: 0px;
  position: relative;
  display: block;
  width: 100%;
  outline: none;
  text-align: left;
}

.info-collape:hover {
  background-color: #F7F7F7;
  box-shadow: none;
}

.info-collape:active {
  background-color: #F7F7F7 !important;
}

.product-field {
  font-weight: 600;
}

.product-value {
  font-weight: 500;
  padding-left: 0px;
}


/*==== cart ===== */

.cart-product-name {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 2px;
}

.cart-product-name:hover {
  text-decoration: underline #832729;
}

.cart-button {
  border: none;
  background: none;
  color: #832729 !important;
  padding: 0;
  align-items: center;
  font-weight: 700;
}

.cart-button:hover {
  background: none !important;
  box-shadow: none;
}

.cart-qty {
  margin-top: 6px;
  border: none;
  padding-left: 3px;
  font-size: 15px
}

select.cart-qty:focus {
  outline: none;
}


.coupon-input{
  border-radius: 0px;
  width: 100%;
  background-color: white !important;
  color: black !important;
  border-color: #585858 !important;
}

.coupon-input:hover{
  box-shadow: none;
  border-color: #585858 !important;
}

.coupon-input:focus{
  border-color: #585858 !important;
}

.coupon-card{
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: 'Nunito Sans';
}

.coupon-card:hover{
  background-color: #ffffff;
}

.apply-btn{
  width: 30%;
  height: min-content;
  background-color: #832729;
  border: none;
  padding: 8px 10px;
  font-size: 13px;
  border-radius: 5px;  
}

.custom-steps .ant-steps-item-title {
  font-weight: 600;
  font-family: 'Nunito Sans';
  font-size: 18px;
}

.save-address-btn {
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: #832729 !important;
  background-color: #fff;
  color: #832729 !important;
  font-weight: 700;
}

.save-address-btn:hover {
  background-color: #832729;
  color: #fff !important;
}

.save-address-btn:focus {
  border-color: #832729 !important;
}

.edit-address-btn {
  padding: 8px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: #832729 !important;
  background-color: #fff;
  color: #832729 !important;
  font-weight: 700;
}

.edit-address-btn:hover {
  background-color: #832729;
  color: #fff !important;
}

.edit-address-btn:focus {
  border-color: #832729 !important;
}

.selector {
  min-width: 210px;
  min-height: 38px;
}

.order-success {
  padding: 8px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #832729;
  color: #fff;
  font-weight: 700;
}

.order-table-head {
  background-color: #F2E9E9 !important;
  color: #832729 !important;
}


/*===== detail order =====*/
.order-info {
  display: flex;
  justify-content: space-between;
  background-color: #F2E9E9;
  border: 1.5px solid #832729;
  border-radius: 5px;
  padding: 12px;
  margin: 20px 0px;
  color: #832729;
}

.order-item {
  display: flex;
  justify-content: space-between;
  background-color: #F7F7F7;
  padding: 12px;
  font-size: 17px;

}

.price-table-row {
  width: 100px !important;
}

.price-table-col {
  width: 50px !important;
}


/*=====Track order ====*/

.track-btn {
  background-color: #832729;
  border-radius: 5px;
}

.track-btn:hover {
  background-color: #832729;
  color: #fff !important;
}

.product-order {
  padding: 15px;
  font-size: 21px;
  font-family: 'Nunito Sans';
  color: #832729;
}

.check-icon {
  color: #832729;
  font-size: 21px;
  position: relative;
  right: 6.5px;
  top: -3.5px;
}

.ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
  background-color: #832729;
}

.ant-steps.ant-steps-dot .ant-steps-item-process .ant-steps-item-icon {
  display: flex;
  justify-content: center;
}

.ant-steps .ant-steps-item-icon .ant-steps-icon {
  top: -3px;

}

/*===== 10.review ======*/
/* Style for review cards */
.review-card {
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  margin: 80px auto;
  width: 80%;
  max-width: 800px;
  height: auto;
  padding: 20px;
  text-align: center;
}

/* Style for profile picture */
.profile-picture {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.profile-picture img {
  border-radius: 50%;
  border: 4px solid #fff;
  width: 100px;
  height: 100px;
}

.review-btn {
  background-color: #ffffff !important;
  color: black !important;
  font-family: 'Nunito Sans';
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #7171716c;
}

.review-btn:hover {
  box-shadow: none;
  border-color: #7171716c !important;
}

.review-btn:focus{
  border-color: #7171716c !important;
}

/* Style for product information */
.product-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.product-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.product-details p {
  margin: 0;
  font-size: 14px;
}

/* Slider styles */
#customer-slider {
  margin-top: 20px;
}

/* CSS for customer name and review */
.customer-info {
  margin-top: 20px;
}


/* Next and previous arrow buttons */
.is-next,
.is-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  color: #555;
}

.is-next {
  right: 10px;
}

.is-prev {
  left: 10px;
}


/* === 11. Contact === */
.form-control {
  box-shadow: none !important;
  border: 2px solid #dddddd;
  height: 44px;
}

#success_page {
  text-align: center;
  margin-top: 50px;
}

#success_page h3 {
  color: #0dba26;
}

#success_page p {
  font-family: 'Crete Round', serif;
}

.sign-button {
  text-align: center;
  background-color: #832729;
  color: #ffffff;
  font-size: 13px;
  width: 100px;
  height: 85%;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

/* === 12.Footer === */

.footer {
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer h5 {
  margin-bottom: 15px;
  font-size: 16px;
}

.footer ul {
  margin-bottom: 0;
}

.footer p {
  line-height: 24px;
}

.footer ul.footer-list li a {
  color: #585858;
  display: inline-block;
  padding: 5px 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.footer ul.footer-list li a:hover {
  color: #333;
}

.footer .social {
  margin-top: 20px;
  margin-bottom: 0;
}

.footer-alt .copy-rights {
  margin: 0;
  line-height: 60px;
  text-align: center;
}


/*======= 14.Responsive ======*/

@media (min-width: 200px) and (max-width: 768px) {

  .navbar-custom {
    background-color: #F2E9E9 !important;
    padding: 20px 0px;
  }

  .navbar-custom .container {
    width: 100%;
  }

  .logo-container {
    margin-right: 10px;
  }

  .search-container {
    max-width: 100%;

  }

  .search-container .form-control {
    width: 100%;
    max-width: none;
  }

  .search-container .input-group-text {
    display: none;
  }

}

@media (max-width: 767px) {

  .vertical-content {
    display: inherit !important;
  }

  .navbar-custom {
    margin-top: 0px;
    padding: 5px 0px !important;
    background-color: #ffffff;
    -moz-box-shadow: 0 10px 33px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 33px rgba(0, 0, 0, .1);
  }

  .navbar-custom .container {
    flex-wrap: nowrap;
  }

  .navbar-toggler {
    order: 3;
  }

  .footer h5 {
    margin-top: 30px;
  }

  .title-box h4 {
    width: 95%;
  }

}